/*   HOME / LOGIN   */
.login-logo{
  max-width: 600px;
  padding-bottom: 50px !important;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px white inset !important;
}

.dashboard-buttons {
  margin-top: 100px !important;
}

.horizon-bg {
    background: #00587C;
}

.horizon-container{
  padding-top: 100px;
  padding-left: 300px;
  background-color: #ffffff;
}
